@use '../abstracts/mixins' as mxn;

.notifications {
	padding-block: var(--spacer-rem-500);
	padding-inline: var(--spacer-rem-475);
	background-color: var(--clr-neutral-100);
	@include mxn.mq(medium) {
		border-radius: var(--borr-500);
		box-shadow: 0 2rem 6rem hsl(225 39% 47% / 0.05);
	}

	&__heading {
		font-size: var(--fz-600);
		color: var(--clr-neutral-700);
	}

	&__badge {
		display: inline-block;
		padding: 0.2rem var(--spacer-rem-200);
		margin-left: var(--spacer-rem-200);
		font-size: var(--fz-400);
		color: var(--clr-neutral-100);
		background-color: var(--clr-primary-400);
		border-radius: var(--borr-200);
	}
}
